body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lato: Lato;
  --font-inter: Inter;
  --font-roboto: Roboto;
  --font-nunito: Nunito;
  --font-playfair-display: "Playfair Display";
  --font-fraunces: Fraunces;
  --font-mulish: Mulish;
  --font-architects-daughter: "Architects Daughter";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-5xl: 1.5rem;
  --font-size-lgi: 1.19rem;
  --font-size-lg: 1.13rem;
  --font-size-xl: 1.25rem;
  --font-size-base: 1rem;
  --font-size-5xl-2: 1.51rem;
  --font-size-10xl: 1.81rem;
  --font-size-sm-1: 0.82rem;
  --font-size-4xl: 1.44rem;
  --font-size-29xl: 3rem;
  --font-size-19xl: 2.38rem;
  --font-size-11xl-3: 1.89rem;
  --font-size-3xl-7: 1.42rem;
  --font-size-3xl-3: 1.39rem;
  --font-size-13xl: 2rem;
  --font-size-7xl: 1.63rem;
  --font-size-2xl-1: 1.32rem;
  --font-size-mid: 1.06rem;
  --font-size-lgi-8: 1.24rem;

  /* Colors */
  --font-medium-emphasis: #828282;
  --font-high-emphasis: #25282b;
  --color-gray-100: #0a142f;
  --dark: #09142f;
  --white: #fff;
  --color-khaki: #fbda69;
  --color-goldenrod: #e0c24f;
  --color-black: #000;
  --color-dimgray-100: #595c5e;
  --color-dimgray-200: #525665;
  --color-dimgray-300: rgba(89, 92, 94, 0.09);

  /* Gaps */
  --gap-sm: 0.88rem;
  --gap-mini: 0.94rem;
  --gap-6xs: 0.44rem;
  --gap-11xs: 0.13rem;
  --gap-xl: 1.25rem;
  --gap-5xs: 0.5rem;
  --gap-8xs: 0.31rem;
  --gap-9xs: 0.25rem;
  --gap-smi: 0.81rem;
  --gap-12xs: 0.06rem;
  --gap-base: 1rem;
  --gap-5xl: 1.5rem;
  --gap-2xs: 0.69rem;
  --gap-3xl: 1.38rem;
  --gap-2xl: 1.31rem;

  /* Paddings */
  --padding-5xl: 1.5rem;
  --padding-xl: 1.25rem;
  --padding-4xs: 0.56rem;
  --padding-5xs: 0.5rem;
  --padding-mid: 1.06rem;
  --padding-mini: 0.94rem;
  --padding-base: 1rem;
  --padding-9xs: 0.25rem;
  --padding-141xl: 10rem;
  --padding-11xl: 1.88rem;
  --padding-13xl: 2rem;
  --padding-lgi: 1.19rem;
  --padding-6xl: 1.56rem;
  --padding-14xl: 2.06rem;
  --padding-12xs: 0.06rem;
  --padding-7xs: 0.38rem;
  --padding-8xs: 0.31rem;
  --padding-8xl: 1.69rem;
  --padding-xs: 0.75rem;
  --padding-sm: 0.88rem;
  --padding-smi: 0.81rem;
  --padding-104xl: 7.69rem;
  --padding-44xl: 3.94rem;
  --padding-20xl: 2.44rem;
  --padding-12xl: 1.94rem;
  --padding-4xl: 1.44rem;
  --padding-35xl: 3.38rem;
  --padding-36xl: 3.44rem;
  --padding-89xl: 6.75rem;
  --padding-86xl: 6.56rem;
  --padding-6xs: 0.44rem;
  --padding-81xl: 6.25rem;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-7xs: 6px;
  --br-sm-3: 13.3px;
  --br-11xs: 2px;
  --br-lg-5: 18.5px;
  --br-137xl-7: 156.7px;
  --br-base-1: 16.1px;
  --br-mid-8: 17.8px;
  --br-8xs-8: 4.8px;
  --br-8xs-1: 4.1px;
}
